@model KF31_WebApp.Models.Member

@{
    ViewData["Title"] = "アカウント";
    ViewData["BodyClass"] = "account_body";

}

<div class="account">
    <div class="account_title_1">
        <h5>会員情報詳細</h5>
        <p>
            こちらの内容はKF31 図書館で共通です。編集を行った場合はカード・アカウント双方のアカウントへ反映されます。
        </p>
        <div></div>
    </div>   

    <div class="account_title_2">
        <h5>
            会員情報詳細
        </h5>
        <a class="custom-link account-update" asp-area="" asp-controller="Account" asp-action="AccountUpdate">会員情報変更</a>
    </div>

    <div class="account_body">
        <div>
            <label>会員ID</label>
            <p>@Model.userID</p>
        </div>
        <div>
            <label>氏名</label>
            <p>@Model.DisplayName<p>
        </div>
        <div>
            <label>生年月日</label>
            <p>@Model.Birthday.ToString("yyyy/MM/dd")</p>
        </div>

        <div>
            <label>メールアドレス</label>
            <p>@Model.mail</p>
        </div>
        <div>
            <label>携帯番号</label>
            <p>@Model.Tell</p>
        </div>
        <div>
            <label>住所</label>
            <p>@Model.address</p>
        </div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="back_btn">トップに戻る</a>
    </div>
   
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}