@model KF31_WebApp.Models.Yoyaku

@{
    ViewData["Title"] = "貸出詳細";
    ViewData["BodyClass"] = "yoyaku_body";

}
<div class="yoyaku_list">
    <div class="yoyaku_list_title">
        <h6>貸出詳細</h6>
    </div>
    <div class="yoyaku_list_body">
        @if (Model.statusID == "KS01")
        {
            <p class="cancel_mes">期限が切れているため、予約はキャンセルされました。</p>
        }
        else
        {
            @if (Model.statusID == "YYK01")
            {
                <div class="yoyaku_detail_body">

                <div class="yoyaku_body_barcode">
                    <p>予約バーコード</p>
                    <p class="yoyakuID">@Model.YoyakuID</p>
                    @if (ViewContext.HttpContext.Session.GetString("BarcodeImage") != null)
                    {
                        <img src="@ViewContext.HttpContext.Session.GetString("BarcodeImage")" alt="予約バーコード" />
                    }
                </div>
                <div class="yoyaku_body_news">
                    <p>注文完了しました！</p>
                    <p>2時間以内に選択した図書館に来てください。</p>
                    <p>図書館での予約受け取りの際には、予約バーコードをスタッフに伝えてください。</p>
                </div>
                </div>
            }
            else
            {
                @if (Model.statusID == "KSD01")
                {
                    <div class="yoyaku_body_book">
                        <div class="yoyaku_book_img">
                            <img src="~/picture/@(Model.Stock.Book.Book_Image + ".jpeg")" />
                        </div>
                        <div class="yoyaku_bor"></div>
                        <div class="yoyaku_news">
                            <div class="userID">
                                <label>会員ID</label>
                                <p>@Model.userID</p>
                            </div>
                            <div class="title">
                                <label>本タイトル</label>
                                <p>@Model.Stock.Book.Book_title</p>
                            </div>
                            <div class="libraty">
                                <label>図書館</label>
                                <p>@Model.Stock.Libraty.LibretyName</p>
                            </div>
                            <div class="returntime">
                                <label>返却日</label>
                                <p>@Model.ReturnTime.ToString("yyyy/MM/dd")</p>
                            </div>
                            <div>
                                <a class="update_yoyaku" href="javascript:history.back();">編集</a>
                                <a class="confirm_btn" asp-action="YoyakuAdd" asp-controller="Yoyaku">確認</a>

                            </div>
                        </div>
                    </div>

                }
            }
        }
    </div>
   

</div>