@model KF31_WebApp.Models.YoyakuView

@{
    ViewData["Title"] = "予約";
}
<div class="book_detail">
    <div class="book_detail_title">
        <h6>本詳細情報</h6>
    </div>
    <div class="detail_body">
        <div class="detail_body_book">
            <div class="detail_book_img">
                    <img src="~/picture/B1.jpg" />
                </div>
                <div class="detail_bor"></div>
                <div class="detail_news">
                <form asp-action="AccountUpdate" method="post">
                    <div>
                        <label>会員ID</label>
                        <p>@Model.userID</p>
                    </div>
                    <div>
                        <label>本タイトル</label>
                        <p>@Model.Book.Book_title</p>
                    </div>
                    <div>
                        <label>図書館</label>
                        @Html.DropDownListFor(model => model.Stock,
                                 Model.Libraty,
                                 "図書館を選択してください",
                                 new { @class = "form-control", id = "libraries" })
                    </div>
                    <div>
                        <label>本タイトル</label>
                        <p>@Model.Book.Book_title</p>
                    </div>
                    <div>
                        <label>本タイトル</label>
                        <p>@Model.Book.Book_title</p>
                    </div>
                    </form>


                    <p>タイトル：@Model.Book.Book_title</p>
                    <p>カテゴリ：@Model.Book.Category.CategoryName</p>
                    <p>著者：@Model.Book.Book_Author</p>
                    <p>出版社：@Model.Book.Publisher.PublisherName</p>
                    <p class="stock_status">状態：</p>
                </div>
        </div>
        @if (Model.Total > 0)
        {
            <div class="detail_body_stock">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                図書館名
                            </th>
                            <th>
                                数量
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Stock)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Libraty.LibretyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p class="stock_status2 stock_news">在庫なし </p>
        }


    </div>
    <div class="detail_footer">

        <a class="detail_footer_btn" asp-area="" asp-controller="Book" asp-action="BookList">トップへ戻る</a>
    </div>
</div>