@model KF31_WebApp.Models.BookListViewModel

@{
    ViewData["Title"] = "本";
    ViewData["BodyClass"] = "booklist";

}
<div class="book">

<div class="book_search_background">
<div class="book_search">
    <div class="search_form">
                <form method="get" asp-action="BookList">
                    <input class="search_key" asp-for="keyword" type="text" value="@ViewContext.HttpContext.Request.Query["keyword"]" placeholder="キーワードを入力してください！" />
                    <input class="search_button" type="submit" value="検索" style="cursor:pointer;" />
                </form>
    </div>
   
   
</div>
    </div>
<div class="book_list">

        @foreach (var item in Model.Books)
  {
      <div class="book_tag">
         <div class="book_img"> 
                    <img src="~/picture/@(item.Book_Image)" alt="Book Image">
         </div>
         <div class="book_bor"></div>
         <div class="book_news">
                    <p>タイトル: @Html.DisplayFor(modelItem => item.Book_title)</p>
                    <p>著者：@Html.DisplayFor(modelItem => item.Book_Author)</p>
         </div>
                <div class="detail_btn"><a href="@Url.Action("BookDetail", "Book", new { id = item.BookID })" class="detail_btn_a">詳細</a></div>
      </div>
         
   }
   
</div>
    <div class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <a href="@Url.Action("BookList", new { page = Model.CurrentPage - 1 })" class="prev">← 前のページ</a>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a href="@Url.Action("BookList", new { page = i })" class="@(i == Model.CurrentPage ? "active" : "")">@i</a>
        }
        @if (Model.CurrentPage < Model.TotalPages)
        {
            <a href="@Url.Action("BookList", new { page = Model.CurrentPage + 1 })" class="next">次のページ →</a>
        }
    </div>
</div>

